<div class="container">
  <h1 class="new-item">Edit your listed item!!</h1><br>
  <% if @errors %>
  <ul>
  <% @errors.each do |error| %>

    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>
  <form class="edit-item-form" action="/users/<%=@item.seller.id%>" method="post">
    <input type="hidden" name="_method" value="put">
    <table class="edit-item-form">
      <tr>
        <td><label for="item[name]">Item Name:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="item[name]" type="text" value="<%=@item.name%>"></td>
      </tr>
      <tr>
        <td><label for="item[description]">Item Description:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><textarea name="item[description]" type="text"><%=@item.description%></textarea></td>
      </tr>
      <tr>
        <td><label for="item[price]">Starting Price:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="item[price]" type="number" step="any" value="<%=@item.price%>"></td>
      </tr>
      <tr>
        <td><label for="item[start_time]">Starting Time:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="item[start_time]" type="datetime-local" value="<%=@item.start_time%>"></td>
      </tr>
      <tr>
        <td><label for="item[end_time]">Ending Time:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="item[end_time]" type="datetime-local" value="<%=@item.end_time%>"></td>
      </tr>
    </table>
      <br><input type="submit" value="Create item!">
  </form>
</div>
